<html lang="en">
{{> header }}
<body>
<div class="container">
   <div class="content">
       <h3 class="banner">DigiDecs received!</h3>

       <p> Hi, {{ first_name }} </p>

       <p>
           We have received your DigiDecs. If it has not been paid back to you within 7
           working days, please contact the <a href="mailto:penningmeester@svsticky.nl">treasurer</a>.
       </p>

       <p>
           With kind regards, <br/>
           The Board
       </p>
   </div>
</div>
</body>
</html>