<html lang="nl">
{{> header }}
<body>
<div class="container">
    <div class="content">
        <h3 class="banner">DigiDecs ontvangen!</h3>

        <p> Hoi, {{ first_name }} </p>

        <p>
            We hebben je DigiDecs ontvangen. Als je je geld na 7 werkdagen nog niet hebt ontvangen,
            neem dan contact op met de <a href="mailto:penningmeester@svsticky.nl">penningmeester</a>.
        </p>

        <p>
            Met vriendelijke groet,<br/>
            Het bestuur
        </p>
    </div>
</div>
</body>
</html>